html, body{
    height: 100%;
}
a{
    outline: none !important;
}
input{
    outline: none !important;
}
.col-xs-12{
    padding: 0;
}
#logout-div{
    float: right;
    margin-top:6px;
    margin-right: 10px;
}
.left {
    width: 75%;
    height: 535px;
    float: left;
}

.right {
    width: 24%;
    height: 500px;
    float: left;
    padding: 10px;
}

.right div {
    margin-bottom: 4px;
}

.right textarea {
    height: 150px;
    width: 300px;
}

.top-margin {
    margin-top: -40px;
}

#map {
    height: 500px;
}

#infoBox {
    position: fixed;
    width: 300px;
    color: black;
    z-index: 1000;
}
#tabs{
    height: 100%;
}
.input-class{
    margin: 0 auto;
    width: 80%;
}
.gm-style-iw div{
    overflow: hidden;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #0481FF;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    opacity: 0.5;
}
#legend:hover{
    opacity: 1;
}
#legend h3 {
    margin-top: 0;
}
#legend img {
    vertical-align: middle;
}
#map-container #map{
    height: 90vh !important;
    margin-top: -40px;
}
#timeline-wrapper{
    padding: 0;
    position: absolute;
    right: 25px;
    top: 5px;
    width:70%;
    z-index: 1;
}
#top-functions{
    float:left;
    z-index: 1;
}
.reporttable-row{
    border-top: 1px solid black;
    color: black;
}
#table-container{
    margin-top: 10px;
}
#table-container tr.scrolled{
    border: 2px solid #007FFF;
}
#table-container table{
    background-color: rgba(0, 127, 255,1);
}
#table-container th{
    color: white;
    font-weight: bold;
}
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
#filters{
    position: absolute;
    z-index: 4;
    top: 5px;
}
.hidden{
    display: none;
}
.history-details{
    margin-top: 10px;
}

#comparemaps-container{
    margin-top: 10px;
}
.stats-wrapper{
    margin-top: 10px;
    padding-top:10px;
    border-top: 1px solid grey;
}
.stats-wrapper .stats-title{
    display: inline-block;
    font-weight: bold;
    min-width: 170px;
}
.stats-wrapper .stats-value{
    display: inline-block;
    font-style: italic;
}
.disease-selector img{
    margin-top:5px;
    margin-right: 10px;
}